.container {
    composes: panel from "../../App.module.css";
    align-self: start;
    justify-self: stretch;
    font-size: 3.5vw;
    padding: 10px 0 10px;
    margin: 0;
}

.container p {
    margin: 0;
}

.text {
    font-size: 2.5vw;
}

.icon {
    width: 25vw;
    margin: 0 auto;
}

.temperature {
    display: flex;
    flex-grow: 2;
}

.temperatureMinMax {
    flex-grow: 1;
    font-size: 2vw;
}